.course-sections-list {
    list-style-type: none; /* Remove bullet points */
  }

  .course-sections-list li {
    margin-bottom: 10px;
  }

  /* Style the checkboxes */
  .course-sections-list input[type="checkbox"] {
    margin-right: 10px;
  }

  .dropdown {
    position: relative;
  }

  .dropdown-btn {
    position:inherit;
    min-width: 160px;
    padding: 12px 16px;
    text-align: center;
    color: black;
  }

  .dropdown-content {
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content label {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block; /* Make each label take the full width */
  }
  
  .dropdown-content label:hover {
    display: block;
    background-color: #f1f1f1;
  }


  .dropdown-content::after {
    display: block;
  }


  .dropdown-content label::after {
    display: block;
  }
  
  /* Add other necessary styles */
  